roundtimer {

  transition: all 0.5s ease-out;
  position: absolute;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  opacity: .2;
  right: 7.5%;
  width: 50%;
 
}